@using githubtriggerbot.Controllers

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>GitHub actions</h2>
        <ul>
            <li><a asp-area="" asp-controller="GitHub" asp-action="@nameof(GitHubController.ListRepos)">Enable pull request webhooks</a></li>
        </ul>
    </div>
</div>
